:root {
  --primary-color: #370EA3;
  --secondary-color: #CDCBFF;
  --terciary-color: #7364ff;
  --quaternary-color:#5628D2;
  --alerts-attention-color: #FFC20D;
  --gris-oscuro:#686867;
  --gris-claro: #E7E7E9;
}


body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #CDCBFF, #FEFEFF);
  min-height: 100vh;
  margin: 0;
}

.botonesRol{
  border-radius: 20px;
}

.cardForm{
  border-radius: 10px;
  border: #370EA3 2px solid;
  box-shadow: #c0c0be 2px 2px;
}

.lluvia {
  color: #0c92ad;
}

.editarJornal{
  background-color: #FFC20D;
}

input.react-time-picker__inputGroup__input.react-time-picker__inputGroup__hour {
  width: 3em !important;
}

input.react-time-picker__inputGroup__input.react-time-picker__inputGroup__minute {
  width: 3em !important;
}





